:root{
--brown-dark : #330913;
--brown : #772226;
--blue-regular : #6ca1e4;
--blue-clair : #dae1ed;
--blue-light : #f8efed;
--black: #000000;
--white: #ffffff;
--sm: 15px;
--md: 20px;
--lg: 40px;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--blue-light);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    justify-self: flex-start;
}
.nav-general{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 3%;
    height: auto;
}
.nav-general li a {
    display: block;
    padding: 10px 20px;
    list-style: none;
}
.nav-general li a img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.nav-general li a img:hover{
    background-color: var(--brown);
    cursor: pointer;
}
.nav-vertical {
    display: none;
    position: absolute;
    width: 200px;
    list-style: none;
}

.nav-general li:hover .nav-vertical{
    display: block;
}
.nav-vertical a:hover{
    background-color: var(--blue-regular);
    color: var(--black);
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.nav-vertical li a{
    color: var(--white);
    padding: 10px;
    background-color: #000000;
    text-decoration: none;
}
header {
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
}
header h1{
    font-size: var(--lg);
    color: var(--brown);
    cursor: zoom-in;
    display: flex;
    align-items: center;
    gap: 10px;
}
header h1:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
header h1 img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 5px;
}
main {
    display: grid;
    margin-top: 20px;
    grid-template-rows: 1fr auto;
    place-content: center;
    gap: 20px;
}
.box-container {
    width: 700px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.box-container label{
    font-size: var(--md);
    font-weight: bold;
    color: var(--brown-dark);
}
.box-container input{
    height: 25px;
    border-radius: 18px;
    border-style: none;
    background-color: var(--blue-clair);
    text-align: center;
}
.alert-box{
    margin: 20px;
    width: auto;
    height: 40px;
    place-content: center;
    background-color: antiquewhite;
    border-radius: 20px;
    border-style: none;
    cursor: zoom-in;
}
.alert-box:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.alert-box p{
    font-size: var(--md);
    font-weight: bold;
    color: red;
    text-align: center;
    padding-top: 5px;
}
.button-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.button-container button{
    width: 70px;
    height: auto;
    font-size: var(--sm);
    font-weight: bold;
    color: var(--white);
    border-style: none;
    border-radius: 20px;
    background-color: var(--black);
    cursor: pointer;
}
.button-container button:hover{
    background-color: chartreuse;
    color: var(--black);
    transform: scale(1.2);
    transition-duration: 0.5s;
}
section{
    display: grid;
    place-content: center;
    background-color: var(--blue-regular);
    border-style: none;
    border-radius: 10px;
}

table{
    width: 700px;
    height: auto;
    text-align: center;
    gap: 10px;
}
table tbody tr{
    margin: 10px;
    height: 30px;
    background-color: var(--blue-clair);
    border-radius: 18px;
    box-sizing: border-box;
    cursor: default;
}
table tbody tr:hover{
    background-color: var(--white);
}
table tbody tr:last-child{
    background-color: aqua;
    border-radius: 10px;
}
footer{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 200px;
}
footer p{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer p span{
    color: var(--black);
    font-weight: bold;
    cursor: default;
}
footer p img{
    width: 30px;
    height: 30px;
    cursor: zoom-in;
}
footer p img:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
footer p a{
    color: var(--brown-dark);
    font-weight: bold;
    cursor: pointer;
}
footer p a:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
@media (max-width:640px){
    .nav-general li a img{
        width: 20px;
        height: 20px;
    }
    .nav-vertical {
        width: auto;
        height: auto;
        font-size: 10px;
    }
    header h1{
        font-size: var(--md);
    }
    header h1:hover{
        transform: scale(1.1);
        transition-duration: 0.5s;
    }
    header h1 img{
        width: 25px;
        height: 25px;
    }
    main {
        width: auto;
        height: auto;
        gap: 10px;
    }
    .box-container {
        width: auto;
        height: auto;
        gap: 10px;
    }
    .box-container label{
        font-size: var(--sm);
    }
    .button-container button{
        width: 70px;
    }
    .box-container input{
        width: 118px;
        height: 20px;
        font-size: var(--sm);
        text-align: center;
    }
    section{
        width: 600px;
        display: flex;
        justify-content: space-around;
    }
    table{
        width: 100%;
        font-size: var(--sm);
    }
    footer p{
        font-size: var(--sm);
    }
}