:root{
--brown-dark : #330913;
--brown : #772226;
--blue-regular : #6ca1e4;
--blue-clair : #dae1ed;
--blue-light : #f8efed;
--black: #000000;
--white: #ffffff;
--sm: 15px;
--md: 20px;
--lg: 40px;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--blue-light);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.nav-general{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.nav-general li a {
    display: block;
    padding: 10px 20px;
    list-style: none;
}
.nav-general li a img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.nav-general li a img:hover{
    background-color: var(--brown);
    cursor: pointer;
}
.nav-vertical {
    display: none;
    position: absolute;
    width: 200px;
    list-style: none;
    border-radius: 18px;
}
.nav-general li:hover .nav-vertical{
    display: block;
}
.nav-vertical li a{
    color: var(--white);
    padding: 10px;
    background-color: #000000;
    text-decoration: none;
}
header {
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
}
header h1{
    font-size: var(--lg);
    color: var(--brown);
}
header h1 img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 5px;
}
main {
    display: grid;
    margin-top: 20px;
    grid-template-rows: 1fr auto;
    place-content: center;
    gap: 20px;
}
.box-container {
    width: 700px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.box-container label{
    font-size: var(--md);
    font-weight: bold;
    color: var(--brown-dark);
}
.box-container input{
    height: 25px;
    border-radius: 18px;
    border-style: none;
    background-color: var(--blue-clair);
    text-align: center;
}
.alert-box{
    margin: 20px;
    width: auto;
    height: 40px;
    place-content: center;
    background-color: antiquewhite;
    border-radius: 20px;
    border-style: none;
}
.alert-box p{
    font-size: var(--md);
    font-weight: bold;
    color: red;
    text-align: center;
    padding-top: 5px;
}


